.box1{
    background-color: rgb(255, 255, 255);
    width: 300px;
}
img{
    width: 300px;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    width: 990px;
    /* justify-content: center; */
    /* min-height: 100vh; */
    /* align-items: center; */
}
body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    
    gap: 30px;
    background-color: rgb(125, 135, 135);
}
.icon{
    width: 50px;
}
.box2{
    background-color: rgb(255, 255, 255);
    width: 300px;
}
.box3{
    background-color: rgb(255, 255, 255);
    width: 300px;
}
.footer{
    display: flex;
}